  <div class="watchr-body">
    <div class="container-fluid landing-page-header landing-page-header_triangle">
      <div class="container">
        <div class="header-elements">
          <a href="" class="text-logo">Watch<i class="text-logo_r">R</i></a>
          <a href="buy-check-step-1+mobile.html" class="secondary-btn secondary-btn_transparent  hidden-on-mobile">Buy</a>
          <a class="secondary-btn secondary-btn_transparent  hidden-on-mobile">Sell</a>
          <div class="contact-info  hidden-on-mobile">
            <span>contact@watches.com</span>
            <br>
            <span>0000-000-000</span>
          </div>
          <div class="mobile-menu-btn hidden-on-desktop">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </div>
        </div>
        <div class="mobile-menu-content mobile-menu-content_hidden hidden-on-desktop">
          <a class="mobile-menu-link" href="">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <br>
            Email Us
          </a>
          <a class="mobile-menu-link" href="">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <br>
            Call Us
          </a>
        </div>
        <h1 class="main-h">21st century watch buying and selling</h1>
        <p class="under-h-text">Hand-inspected, certified, pre-owned watches</p>
        <div class="header-info-container clearfix hidden-on-mobile">
          <div class="header-info-block">
            <h2 class="info-block-h">Hassle-free watch <i class="grey-text">selling</i></h2>
            <div class="info-block-details info-block-details_sell">
              <span class="info-block-hover-text">Please hover the button below to see more details</span>
              <span class="hidden-info-detail">
                <i class="hidden-info-detail_icon grey-text fa fa-star-o" aria-hidden="true"></i>
                Register your watch online
              </span>
              <span class="hidden-info-detail">
                <i class="hidden-info-detail_icon grey-text fa fa-calendar" aria-hidden="true"></i>
                Schedule a free inspection
              </span>
              <span class="hidden-info-detail">
                <i class="hidden-info-detail_icon grey-text fa fa-shield" aria-hidden="true"></i>
                Keep your watch until it’s sold
              </span>
            </div>
            <a href="" class="standart-btn">Sell your watch</a>
          </div>
          <div class="header-info-block header-info-block_buy">
            <h2 class="info-block-h">Safe watch  <i class="brown-text">buying</i></h2>
            <div class="info-block-details">
              <span class="info-block-hover-text">Please hover the button below to see more details</span>
              <span class="hidden-info-detail">
                <i class="hidden-info-detail_icon brown-text fa fa-diamond" aria-hidden="true"></i>
                Hand-inspected
              </span>
              <span class="hidden-info-detail">
                <i class="hidden-info-detail_icon brown-text fa fa-paper-plane-o" aria-hidden="true"></i>
                Home-delivered
              </span>
              <span class="hidden-info-detail">
                <i class="hidden-info-detail_icon brown-text fa fa-money" aria-hidden="true"></i>
                Guaranteed
              </span>
            </div>
            <a href="" class="standart-btn">See watches</a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- SLIDER BLOCK START -->
    <div class="container-fluid watches-slider-block">
      <div class="container">
        <h3 class="secondary-h">Best Sellers</h3>
        <div class="watches-slides-container" id="watches-slider">
          <div class="watch-slide">
            <span class="watch-brend">ROLEX</span>
            <img src="img/productMiddle.jpg" alt="" class="watch-image">
            <span class="watch-name">Oyster Perpetual - Boxed with Papers from 2009</span>
            <span class="watch-price">£399,99</span>
            <button class="standart-btn">Buy Now</button>
          </div>
          <div class="watch-slide">
            <span class="watch-brend">ROLEX</span>
            <img src="img/productMiddle.jpg" alt="" class="watch-image">
            <span class="watch-name">Oyster Perpetual - Boxed with Papers from 2009</span>
            <span class="watch-price">£399,99</span>
            <button class="standart-btn">Buy Now</button>
          </div>
          <div class="watch-slide">
            <span class="watch-brend">ROLEX</span>
            <img src="img/productMiddle.jpg" alt="" class="watch-image">
            <span class="watch-name">Oyster Perpetual - Boxed with Papers from 2009</span>
            <span class="watch-price">£399,99</span>
            <button class="standart-btn">Buy Now</button>
          </div>
          <div class="watch-slide">
            <span class="watch-brend">ROLEX</span>
            <img src="img/productMiddle.jpg" alt="" class="watch-image">
            <span class="watch-name">Oyster Perpetual - Boxed with Papers from 2009</span>
            <span class="watch-price">£399,99</span>
            <button class="standart-btn">Buy Now</button>
          </div>
          <div class="watch-slide">
            <span class="watch-brend">ROLEX</span>
            <img src="img/productMiddle.jpg" alt="" class="watch-image">
            <span class="watch-name">Oyster Perpetual - Boxed with Papers from 2009</span>
            <span class="watch-price">£399,99</span>
            <button class="standart-btn">Buy Now</button>
          </div>
          <div class="watch-slide">
            <span class="watch-brend">ROLEX</span>
            <img src="img/productMiddle.jpg" alt="" class="watch-image">
            <span class="watch-name">Oyster Perpetual - Boxed with Papers from 2009</span>
            <span class="watch-price">£399,99</span>
            <button class="standart-btn">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
    <!-- SLIDER BLOCK END -->

    <!-- FACTS BLOCK START -->
    <div class="container-fluid facts-container">
      <div class="container">
        <span class="facts-bg-text">We Care</span>
        <div class="fact-item fact-item_1">
          <i class="fact-icon fa fa-check" aria-hidden="true"></i>
          <span class="fact-h">Inspected</span>
          <p class="fact-text">All our watch watches have been inspected and authenticated by our certified watch-masters.</p>
        </div>
        <div class="fact-item fact-item_2">
          <i class="fact-icon fa fa-truck" aria-hidden="true"></i>
          <span class="fact-h">Inspected</span>
          <p class="fact-text">All our watch watches have been inspected and authenticated by our certified watch-masters.</p>
        </div>
        <div class="fact-item fact-item_3">
          <i class="fact-icon fa fa-thumbs-up" aria-hidden="true"></i>
          <span class="fact-h">Inspected</span>
          <p class="fact-text">All our watch watches have been inspected and authenticated by our certified watch-masters.</p>
        </div>
      </div>
    </div>
    <!-- FACTS BLOCK END -->

    <!-- PARTNERS BLOCK START -->
    <div class="container-fluid partners-main-container">
      <div class="container">
        <div class="partners-block">
          <a href="" class="partner-link"><img src="img/partner-1.png" alt=""></a>
          <a href="" class="partner-link"><img src="img/partner-2.png" alt=""></a>
          <a href="" class="partner-link"><img src="img/partner-3.png" alt=""></a>
        </div>
      </div>
    </div>
    <!-- PARTNERS BLOCK END -->

    <!-- CUSTOMERS REVIEW BLOCK START -->
    <div class="container-fluid cust-rev-container">
      <div class="container relative-for-counter">
        <h3 class="secondary-h">Our Reviews</h3>
        <div class="cust-rev-slider slider-little-nav" id="cust-rev-slider">
          <div class="cust-rev-item">
            <p class="cust-rev-text">Curabitur sit amet lorem lacinia, rhoncus libero nec, maximus mauris. Proin commodo tellus eu viverra auctor. Nam bibendum viverra justo nec gravida. Donec semper tellus facilisis sem bibendum bibendum. Quisque pharetra vehicula lacinia. Ut quis blandit eros. In mattis leo et mi lacinia interdum. Maecenas fermentum laoreet laoreet.
            <span class="cust-rev-name">Miranda Monroe</span></p>
            <div class="cust-rev-img hidden-on-mobile"><img src="img/cust-rev-img.jpg" alt="Customer Photo"></div>
          </div>
          <div class="cust-rev-item">
            <p class="cust-rev-text">Curabitur sit amet lorem lacinia, rhoncus libero nec, maximus mauris. Proin commodo tellus eu viverra auctor. Nam bibendum viverra justo nec gravida. Donec semper tellus facilisis sem bibendum bibendum. Quisque pharetra vehicula lacinia. Ut quis blandit eros. In mattis leo et mi lacinia interdum. Maecenas fermentum laoreet laoreet.
            <span class="cust-rev-name">Miranda Monroe</span></p>
            <div class="cust-rev-img hidden-on-mobile"><img src="img/cust-rev-img.jpg" alt="Customer Photo"></div>
          </div>
          <div class="cust-rev-item">
            <p class="cust-rev-text">Curabitur sit amet lorem lacinia, rhoncus libero nec, maximus mauris. Proin commodo tellus eu viverra auctor. Nam bibendum viverra justo nec gravida. Donec semper tellus facilisis sem bibendum bibendum. Quisque pharetra vehicula lacinia. Ut quis blandit eros. In mattis leo et mi lacinia interdum. Maecenas fermentum laoreet laoreet.
            <span class="cust-rev-name">Miranda Monroe</span></p>
            <div class="cust-rev-img hidden-on-mobile"><img src="img/cust-rev-img.jpg" alt="Customer Photo"></div>
          </div>
        </div>
        <div class="slider-counter">
          <span class="current-rev currentItem"></span>
          /
          <span class="revs-count owlItems"></span></span>
        </div>
      </div>
    </div>
    <!-- CUSTOMERS REVIEW BLOCK END -->

    <footer class="main-footer">
      <div class="footer-top-part  container">
        <a href="" class="text-logo text-logo_with-right-line">Watch<i class="text-logo_r">R</i></a>
        <span class="copyright">© All rights reserved</span>
        <ul class="footer-menu standart-list">
          <li class="footer-menu_item"><a class="footer-menu-link" href="">Contacts</a></li>
          <li class="footer-menu_item"><a class="footer-menu-link" href="">About Us</a></li>
          <li class="footer-menu_item"><a class="footer-menu-link" href="">FAQ</a></li>
          <li class="footer-menu_item"><a class="footer-menu-link" href="">Privacy Policy</a></li>
        </ul>
      </div>
      <ul class="social-links-list container standart-list">
        <li class="social-links-list_item">
          <a class="social-link" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li class="social-links-list_item">
          <a class="social-link" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li class="social-links-list_item">
          <a class="social-link" href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
        </li>
        <li class="social-links-list_item">
          <a class="social-link" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </li>
      </ul>
    </footer>
    

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/jquery.formstyler.min.js"></script>
    <script src="/js/lib/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
  </div>