
  <div class="watchr-body">
    <div class="container-fluid landing-page-header landing-page-header_seller">
      <div class="container">
        <div class="header-elements">
          <a href="" class="text-logo">Watch<i class="text-logo_r">R</i></a>
          <button class="secondary-btn secondary-btn_transparent  hidden-on-mobile">Buy</button>
          <button class="secondary-btn secondary-btn_transparent  hidden-on-mobile">Sell</button>
          <div class="contact-info  hidden-on-mobile">
            <span>contact@watches.com</span>
            <br>
            <span>0000-000-000</span>
          </div>
          <div class="mobile-menu-btn hidden-on-desktop">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </div>
        </div>
        <div class="mobile-menu-content mobile-menu-content_hidden hidden-on-desktop">
            <div class="contact-info">
              <span>contact@watches.com</span>
              <br>
              <span>0000-000-000</span>
            </div>
            <button class="secondary-btn secondary-btn_transparent ">Sell</button>
        </div>
        <div class="bottom-header-part">
          <h2 class="bottom-header-part_h bottom-header-part_h_white-on-mobile">Search Results for “Rolex”</h2>
          <ul class="breadcrumbs-container breadcrumbs-container_search-page-padding hidden-on-mobile standart-list">
           <li class="breadcrumb-li"><a href="" class="watch-breadcrumb">Home</a></li>
           <li class="breadcrumb-li"><a href="" class="watch-breadcrumb">Search Results</a></li>
        </ul>
        <div class="default-text-field-container search-field hidden-on-mobile">
          <input class="text-field search-field_input" type="text" id="search-field">
          <label class="search-field_label text-field-placeholder" for="search-field">Search:</label>
          <i class="search-field_icon fa fa-search" aria-hidden="true"></i>
        </div>
        </div>
        </div>
      </div>
    </div>

    <!-- SEARCH RESULT BLOCK START -->
      <div class="search-result-block container">
      <!-- SEARCH SIDEBAR START -->
      <div class="search-sidebar clearfix">
        <div class="search-sidebar_mobile-header hidden-on-desktop">
          <div class="showing-count">Showing 1 - 9 of 78 results</div>
          <select class="search-sidebar_mobile-header_select standart-select" name="" id="" data-placeholder="Sort by Latest">
            <option value="">Example</option>
            <option value="">Example</option>
            <option value="">Example</option>
            <option value="">Example</option>
            <option value="">Example</option>
            <option value="">Example</option>
          </select>
          <div class="search-sidebar_mobile-header_btn">
            <i class="search-sidebar_mobile-header_btn_icon fa fa-filter" aria-hidden="true"></i>
          </div>
        </div>
        <div class="panel-group filter-tabs filter-tabs_hidden-m" id="faq-accordion" role="tablist"  aria-multiselectable="true">
            <div class="category-panel panel panel-default">
              <div class="category-h-heading panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="search-category-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Categories
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="category-body panel-body in">
                  <div class="category-item">
                    <input class="standart-checkbox" type="checkbox" id="open-caseback">
                      <label class="prim-checkbox-label fa fa-check" for="open-caseback"></label>
                      <label class="category-item_label sec-checkbox-label" for="open-caseback">Open Caseback</label>
                      <span class="category-item_varians-count">23</span>
                  </div>
                  <div class="category-item">
                    <input class="standart-checkbox" type="checkbox" id="open-caseback-2">
                      <label class="prim-checkbox-label fa fa-check" for="open-caseback-2"></label>
                      <label class="category-item_label sec-checkbox-label" for="open-caseback-2">Open Caseback</label>
                      <span class="category-item_varians-count">23</span>
                  </div>
                  <div class="category-item">
                    <input class="standart-checkbox" type="checkbox" id="open-caseback-3">
                      <label class="prim-checkbox-label fa fa-check" for="open-caseback-3"></label>
                      <label class="category-item_label sec-checkbox-label" for="open-caseback-3">Open Caseback</label>
                      <span class="category-item_varians-count">23</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="category-panel panel panel-default">
              <div class="category-h-heading panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="search-category-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Price
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="category-body panel-body in">
                    <div class="price-slider-container">
                      <div class="price-slider_counts">
                        <span class="price-slider_count">£0</span>
                        <span class="price-slider_count price-slider_count_max">£4294</span>
                      </div>
                      <div class="price-slider_elements">
                        <div class="price-slider_elements-grey-line"></div>
                        <div class="price-slider_elements-brown-line"></div>
                        <div class="price-slider_elements_circle price-slider_elements_circle-1"></div>
                        <div class="price-slider_elements_circle price-slider_elements_circle-2"></div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="category-panel panel panel-default">
              <div class="category-h-heading panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="search-category-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTree" aria-expanded="true" aria-controls="collapseTree">
                    Gender
                  </a>
                </h4>
              </div>
              <div id="collapseTree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTree">
                <div class="category-body panel-body">
             
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- SEARCH SIDEBAR END -->

      <!-- SEARCH ITEMS START -->
      <div class="search-items-container">
        <div class="search-items_preferences clearfix hidden-on-mobile">
          <span class="showing-count">Showing 1 - 9 of 78 results</span>
          <div class="search-items_dropdown dropdown-container">
            <span class="dropdown-h">Sort by Latest</span>
            <ul class="dropdown-content">
              <li class="dropdown-item">Example</li>
              <li class="dropdown-item">Example</li>
              <li class="dropdown-item">Example</li>
              <li class="dropdown-item">Example</li>
            </ul>
          </div>
          <span class="search-items_preferences_wrapper"></span>
          <div class="grid-dropdown search-items_dropdown dropdown-container">
            <span class="dropdown-h">Grid View</span>
            <ul class="dropdown-content">
              <li class="dropdown-item">Example</li>
              <li class="dropdown-item">Example</li>
              <li class="dropdown-item">Example</li>
              <li class="dropdown-item">Example</li>
            </ul>
          </div>
        </div>
        <div class="search-items_products clearfix">
          <div class="watch-slide_single watch-slide watch-slide_hover-btn">
              <span class="watch-brend">ROLEX</span>
              <div class="watch-slide-img-container">
                <img src="img/productMiddle.jpg" alt="" class="watch-image">
              </div>
              <span class="watch-name">Oyster Perpetual - Boxed with Papers from 2009</span>
              <span class="watch-price">£399,99</span>
          </div>
          <div class="watch-slide_single watch-slide watch-slide_hover-btn">
              <span class="watch-brend">ROLEX</span>
              <div class="watch-slide-img-container">
                <img src="img/productMiddle.jpg" alt="" class="watch-image">
              </div>
              <span class="watch-name">Oyster Perpetual - Boxed with Papers from 2009</span>
              <span class="watch-price">£399,99</span>
          </div>
          <div class="watch-slide_single watch-slide watch-slide_hover-btn">
              <span class="watch-brend">ROLEX</span>
              <div class="watch-slide-img-container">
                <img src="img/productMiddle.jpg" alt="" class="watch-image">
              </div>
              <span class="watch-name">Oyster Perpetual - Boxed with Papers from 2009</span>
              <span class="watch-price">£399,99</span>
          </div>
          <div class="watch-slide_single watch-slide watch-slide_hover-btn">
              <span class="watch-brend">ROLEX</span>
              <div class="watch-slide-img-container">
                <img src="img/productMiddle.jpg" alt="" class="watch-image">
              </div>
              <span class="watch-name">Oyster Perpetual - Boxed with Papers from 2009</span>
              <span class="watch-price">£399,99</span>
          </div>
          <div class="watch-slide_single watch-slide watch-slide_hover-btn">
              <span class="watch-brend">ROLEX</span>
              <div class="watch-slide-img-container">
                <img src="img/productMiddle.jpg" alt="" class="watch-image">
              </div>
              <span class="watch-name">Oyster Perpetual - Boxed with Papers from 2009</span>
              <span class="watch-price">£399,99</span>
          </div>
          <div class="watch-slide_single watch-slide watch-slide_hover-btn">
              <span class="watch-brend">ROLEX</span>
              <div class="watch-slide-img-container">
                <img src="img/productMiddle.jpg" alt="" class="watch-image">
              </div>
              <span class="watch-name">Oyster Perpetual - Boxed with Papers from 2009</span>
              <span class="watch-price">£399,99</span>
          </div>
        </div>
        <div class="search-items_navigation-container">
          <div class="search-items_navigation">
            <span class="search-items_nav-arrow"><</span>
            <ul class="search-pages-list standart-list">
              <li class="search-page">1</li>
              <li class="search-page search-page_active">2</li>
              <li class="search-page">3</li>
              <li class="search-page">4</li>
              <li class="search-page">5</li>
              <li class="search-page search-page_dots">...</li>
              <li class="search-page">25</li>
            </ul>
            <span class="search-items_nav-arrow">></span>
          </div>
        </div>
      </div>
      <!-- SEARCH ITEMS END -->
      </div>
    <!-- SEARCH RESULT BLOCK END-->

    <!-- FACTS BLOCK START -->
    <div class="container-fluid search-facts-container hidden-on-mobile">
      <div class="container">
        <div class="fact-item fact-item_1">
          <i class="fact-icon fa fa-check" aria-hidden="true"></i>
          <span class="fact-h">Inspected</span>
          <p class="fact-text">All our watch watches have been inspected and authenticated by our certified watch-masters.</p>
        </div>
        <div class="fact-item fact-item_2">
          <i class="fact-icon fa fa-truck" aria-hidden="true"></i>
          <span class="fact-h">Inspected</span>
          <p class="fact-text">All our watch watches have been inspected and authenticated by our certified watch-masters.</p>
        </div>
        <div class="fact-item fact-item_3">
          <i class="fact-icon fa fa-thumbs-up" aria-hidden="true"></i>
          <span class="fact-h">Inspected</span>
          <p class="fact-text">All our watch watches have been inspected and authenticated by our certified watch-masters.</p>
        </div>
      </div>
    </div>
    <!-- FACTS BLOCK END -->


    <footer class="main-footer">
      <div class="footer-top-part  container">
        <a href="" class="text-logo text-logo_with-right-line">Watch<i class="text-logo_r">R</i></a>
        <span class="copyright">© All rights reserved</span>
        <ul class="footer-menu standart-list">
          <li class="footer-menu_item"><a class="footer-menu-link" href="">Contacts</a></li>
          <li class="footer-menu_item"><a class="footer-menu-link" href="">About Us</a></li>
          <li class="footer-menu_item"><a class="footer-menu-link" href="">FAQ</a></li>
          <li class="footer-menu_item"><a class="footer-menu-link" href="">Privacy Policy</a></li>
        </ul>
      </div>
      <ul class="social-links-list container standart-list">
        <li class="social-links-list_item">
          <a class="social-link" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li class="social-links-list_item">
          <a class="social-link" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li class="social-links-list_item">
          <a class="social-link" href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
        </li>
        <li class="social-links-list_item">
          <a class="social-link" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </li>
      </ul>
    </footer>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/jquery.formstyler.min.js"></script>
    <script src="/js/lib/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
  </div>
