
  <div class="watchr-body">
    <div class="container-fluid landing-page-header landing-page-header_seller">
      <div class="container">
        <div class="header-elements">
          <a href="" class="text-logo">Watch<i class="text-logo_r">R</i></a>
          <button class="secondary-btn secondary-btn_transparent  hidden-on-mobile">Buy</button>
          <button class="secondary-btn secondary-btn_transparent  hidden-on-mobile">Sell</button>
          <div class="contact-info  hidden-on-mobile">
            <span>contact@watches.com</span>
            <br>
            <span>0000-000-000</span>
          </div>
          <div class="mobile-menu-btn hidden-on-desktop">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </div>
        </div>
        <div class="mobile-menu-content mobile-menu-content_hidden hidden-on-desktop">
            <div class="contact-info">
              <span>contact@watches.com</span>
              <br>
              <span>0000-000-000</span>
            </div>
            <button class="secondary-btn secondary-btn_transparent ">Buy</button>
            <button class="secondary-btn secondary-btn_transparent ">Sell</button>
        </div>
        <div class="bottom-header-part">
          <h2 class="bottom-header-part_h bottom-header-part_h_white-on-mobile hidden-on-desktop">Watch Information</h2>
         <div class="step-container-fluid hidden-on-mobile">
           <div class="step-container_seller-page step-container container clearfix">
             <div class="active-step done step-name">
               <h3 class="step-name_h hidden-on-mobile">Watch information</h3>
               <div class="circle circle_sp"><i class="circle_icon fa fa-check" aria-hidden="true"></i></div>
             </div>
             <div class="active-step step-name step-name_central">
               <h3 class="step-name_h hidden-on-mobile">Personal details</h3>
               <div class="circle circle_sp circle_with-line"><i class="circle_icon fa fa-check" aria-hidden="true"  ></i></div>
             </div>
             <div class="step-name">
               <h3 class="step-name_h hidden-on-mobile">Book your inspection</h3>
               <div class="circle circle_sp circle_with-line"><i class="circle_icon fa fa-check" aria-hidden="true"  ></i></div>
             </div>
           </div>          
        </div>
        </div>
      </div>
    </div>

    <!-- MOBILE STEPS SCHEME START -->
      <div class="step-container-fluid hidden-on-desktop">
           <div class="step-container_seller-page step-container container clearfix">
             <span class="mobile-v-step-count">Step 2</span>
             <div class="active-step done step-name">
               <div class="circle circle_sp"><i class="circle_icon fa fa-check" aria-hidden="true"></i></div>
             </div>
             <div class="active-step step-name step-name_central">
               <div class="circle circle_sp circle_with-line"><i class="circle_icon fa fa-check" aria-hidden="true"  ></i></div>
             </div>
             <div class="step-name">
               <div class="circle circle_sp circle_with-line"><i class="circle_icon fa fa-check" aria-hidden="true"  ></i></div>
             </div>
           </div>          
        </div>
    <!-- MOBILE STEPS SCHEME END -->


    <!-- SELLER STEP 2 START -->
      <div class="seller-step-2-container container">
        <div class="seller-step-h-block">
          <img src="img/person.jpg" alt="" class="seller-step-h-img">
          <h1 class="seller-step-h">Tell us <i class="seller-step-h_brown-text">who</i> you are</h1>
        </div>
        <div class="seller-step-2-fields">
          <div class="default-text-field-container seller-form-field_2-in-row">
               <input class="text-field" type="text" id="seller-f-name">
               <label class="text-field-placeholder" for="seller-f-name">
                <i class="label-icon fa fa-user" aria-hidden="true"></i>
                First Name
                <span class="red">*</span>
               </label>
               <i class="success-icon fa fa-check" aria-hidden="true"></i>
               <i class="error-icon fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="default-text-field-container seller-form-field_2-in-row no-right-margin">
               <input class="text-field" type="text" id="seller-l-name">
               <label class="text-field-placeholder" for="seller-l-name">
                <i class="label-icon fa fa-user" aria-hidden="true"></i>
                Last Name
                <span class="red">*</span>
               </label>
               <i class="success-icon fa fa-check" aria-hidden="true"></i>
               <i class="error-icon fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="default-text-field-container">
               <input class="text-field" type="text" id="condition">
               <label class="text-field-placeholder" for="condition">
                <i class="label-icon fa fa-envelope" aria-hidden="true"></i>
                Email
                <span class="red">*</span>
               </label>
               <i class="success-icon fa fa-check" aria-hidden="true"></i>
               <i class="error-icon fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="default-text-field-container">
               <input class="text-field" type="text" id="condition">
               <label class="text-field-placeholder" for="condition">
                <i class="label-icon fa fa-phone" aria-hidden="true"></i>
                Phone Number
                <span class="red">*</span>
               </label>
               <i class="success-icon fa fa-check" aria-hidden="true"></i>
               <i class="error-icon fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="social-login-container clearfix">
              <span class="social-login-h">or login with</span>
              <a href="" class="social-login-link  social-login-link_163 social-login-link_facebook">Facebook</a>
              <a href="" class="social-login-link social-login-link_163 social-login-link_linkedin">LinkedIn</a>
              <a href="" class="social-login-link social-login-link_163 social-login-link_google">Google +</a>
            </div>
            <h2 class="seller-step-h seller-step-h_2">... and <i class="seller-step-h_brown-text">where</i> we can come and take a look at your watch!</h2>
            <div class="default-text-field-container">
               <input class="text-field" type="text" id="condition">
               <label class="text-field-placeholder" for="condition">
                <i class="label-icon fa fa-map-marker" aria-hidden="true"></i>
                Type your address
                <span class="red">*</span>
               </label>
               <i class="success-icon fa fa-check" aria-hidden="true"></i>
               <i class="error-icon fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
      </div>
      <div class="map-container">
          <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10160.812275810247!2d30.5390740944881!3d50.45594313004658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1465504911556" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div> 
    <!-- SELLER STEP 2 END -->

    <!-- SELLER STEPS NEXT START -->
        <div class="seller-steps-nav container clearfix">
          <div class="steps-mini-scheme hidden-on-mobile">
             <div class="step-container-fluid">
               <div class="step-container_seller-page step-container clearfix">
                 <span class="seller-mini-steps-text">Step 2</span>
                 <div class="active-step done step-name step-name_mini">
                   <div class="circle circle_sp"><i class="circle_icon fa fa-check" aria-hidden="true"></i></div>
                 </div>
                 <div class="active-step step-name step-name_central step-name_mini">
                   <div class="circle circle_sp circle_with-line"><i class="circle_icon fa fa-check" aria-hidden="true"  ></i></div>
                 </div>
                 <div class="step-name step-name_mini">
                   <div class="circle circle_sp circle_with-line"><i class="circle_icon fa fa-check" aria-hidden="true"  ></i></div>
                 </div>
               </div>          
            </div>
          </div>
          <button class="seller-steps-next-btn standart-btn">Next</button>
          <button class="seller-steps-back-btn secondary-btn">Back</button>
        </div>
    <!-- SELLER STEPS NEXT END -->


    <footer class="main-footer">
      <div class="footer-top-part  container">
        <a href="" class="text-logo text-logo_with-right-line">Watch<i class="text-logo_r">R</i></a>
        <span class="copyright">© All rights reserved</span>
        <ul class="footer-menu standart-list">
          <li class="footer-menu_item"><a class="footer-menu-link" href="">Contacts</a></li>
          <li class="footer-menu_item"><a class="footer-menu-link" href="">About Us</a></li>
          <li class="footer-menu_item"><a class="footer-menu-link" href="">FAQ</a></li>
          <li class="footer-menu_item"><a class="footer-menu-link" href="">Privacy Policy</a></li>
        </ul>
      </div>
      <ul class="social-links-list container standart-list">
        <li class="social-links-list_item">
          <a class="social-link" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li class="social-links-list_item">
          <a class="social-link" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li class="social-links-list_item">
          <a class="social-link" href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
        </li>
        <li class="social-links-list_item">
          <a class="social-link" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </li>
      </ul>
    </footer>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/jquery.formstyler.min.js"></script>
    <script src="/js/lib/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
  </div>
