
  <div class="watchr-body">
    <div class="container-fluid landing-page-header landing-page-header_seller">
      <div class="container">
        <div class="header-elements">
          <a href="" class="text-logo">Watch<i class="text-logo_r">R</i></a>
          <a href="buy-check-step-1+mobile.html" class="secondary-btn secondary-btn_transparent  hidden-on-mobile">Buy</a>
          <a class="secondary-btn secondary-btn_transparent  hidden-on-mobile">Sell</a>
          <div class="contact-info  hidden-on-mobile">
            <span>contact@watches.com</span>
            <br>
            <span>0000-000-000</span>
          </div>
          <div class="mobile-menu-btn hidden-on-desktop">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </div>
        </div>
        <div class="mobile-menu-content mobile-menu-content_hidden hidden-on-desktop">
            <div class="contact-info">
              <span>contact@watches.com</span>
              <br>
              <span>0000-000-000</span>
            </div>
            <button class="secondary-btn secondary-btn_transparent ">Buy</button>
        </div>
        <div class="bottom-header-part">
          <h3 class="secondary-h">Sell Your Watch</h3>
        </div>
        </div>
      </div>
    </div>

    <!-- SELLER SCHEME BLOCK START -->
    <div class="container-fluid seller-scheme-block">
      <div class="container">
        <h1 class="s-scheme-h">The best way to <i class="brown-text">sell</i> your watch</h1>
        <p class="s-scheme-under-h">We will inspect your watch and offer more than a dealer, guaranteed.</p>
        <div class="s-scheme-items-block clearfix">
          <div class="s-scheme-item s-scheme-item_arrow">
            <img src="img/s-scheme-icon-1.png" alt="" class="s-scheme-item-img">
            <br>
            <span class="s-scheme-item-name">Tell us about your watch</span>
            <br>
            <span class="s-scheme-item-details">It is free, convenient and takes less than 2 minutes</span>
          </div>
          <div class="s-scheme-item s-scheme-item_arrow">
            <img src="img/s-scheme-icon-2.png" alt="" class="s-scheme-item-img">
            <br>
            <span class="s-scheme-item-name">Tell us about your watch</span>
            <br>
            <span class="s-scheme-item-details">It is free, convenient and takes less than 2 minutes</span>
          </div>
          <div class="s-scheme-item">
            <img src="img/s-scheme-icon-3.png" alt="" class="s-scheme-item-img">
            <br>
            <span class="s-scheme-item-name">Tell us about your watch</span>
            <br>
            <span class="s-scheme-item-details">It is free, convenient and takes less than 2 minutes</span>
          </div>
        </div>
        <a href="" class="standart-btn seller-lp-link">Sell my Watch</a>
      </div>
    </div> 
    <!-- SELLER SCHEME BLOCK END -->

    <!-- SELLERS REVIEW BLOCK START -->
    <div class="container-fluid cust-rev-container seller-lp">
      <div class="container relative-for-counter">
        <h3 class="secondary-h">What sellers are saying</h3>
        <div class="sell-rev-slider slider-little-nav" id="sell-rev-slider">
          <div class="sell-rev-item clearfix">
            <div class="sell-rev-img hidden-on-mobile"><img src="img/sell-rev-img.jpg" alt="Customer Photo"></div>
            <p class="sell-rev-text">Curabitur sit amet lorem lacinia, rhoncus libero nec, maximus, commodo tellus eu viverra auctor nam.
            <br>
            <span class="sell-rev-name">Miranda Monroe</span></p>
          </div>
          <div class="sell-rev-item clearfix">
            <div class="sell-rev-img hidden-on-mobile"><img src="img/sell-rev-img.jpg" alt="Customer Photo"></div>
            <p class="sell-rev-text">Curabitur sit amet lorem lacinia, rhoncus libero nec, maximus, commodo tellus eu viverra auctor nam.
            <br>
            <span class="sell-rev-name">Miranda Monroe</span></p>
          </div>
        </div>
        <div class="slider-counter hidden-on-desktop">
          <span class="current-rev currentItem"></span>
          /
          <span class="revs-count owlItems"></span></span>
        </div>
      </div>
    </div>
    <!-- SELLERS REVIEW BLOCK END -->

    <!-- FACTS BLOCK START -->
    <div class="container-fluid seller-facts-container">
      <div class="container">
      <h3 class="secondary-h">You are in safe hands</h3>
        <div class="fact-item fact-item_1">
          <i class="fact-icon fa fa-check" aria-hidden="true"></i>
          <span class="fact-h">Inspected</span>
          <p class="fact-text">All our watch watches have been inspected and authenticated by our certified watch-masters.</p>
        </div>
        <div class="fact-item fact-item_2">
          <i class="fact-icon fa fa-truck" aria-hidden="true"></i>
          <span class="fact-h">Inspected</span>
          <p class="fact-text">All our watch watches have been inspected and authenticated by our certified watch-masters.</p>
        </div>
        <div class="fact-item fact-item_3">
          <i class="fact-icon fa fa-thumbs-up" aria-hidden="true"></i>
          <span class="fact-h">Inspected</span>
          <p class="fact-text">All our watch watches have been inspected and authenticated by our certified watch-masters.</p>
        </div>
      </div>
      <a href="" class="standart-btn seller-lp-link">Sell my Watch</a>
    </div>
    <!-- FACTS BLOCK END -->

    <!-- FAQ BLOCK START -->
    <div class="container-fluid faq-block">
      <div class="container">
          <h3 class="secondary-h">Frequently Asked Questions</h3>
          <div class="faq-lines panel-group" id="faq-accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    How long does it take to sell my watch on WatchR?
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <h4 class="faq-secondary-h">Anim pariatur cliche reprehenderit, enim eiusmod high life?</h4>
                  <p class="faq-details-text">Accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    How long does it take to sell my watch on WatchR?
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <h4 class="faq-secondary-h">Anim pariatur cliche reprehenderit, enim eiusmod high life?</h4>
                  <p class="faq-details-text">Accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTree" aria-expanded="true" aria-controls="collapseTree">
                    How long does it take to sell my watch on WatchR?
                  </a>
                </h4>
              </div>
              <div id="collapseTree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTree">
                <div class="panel-body">
                  <h4 class="faq-secondary-h">Anim pariatur cliche reprehenderit, enim eiusmod high life?</h4>
                  <p class="faq-details-text">Accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- FAQ BLOCK END -->

   <footer class="main-footer">
      <div class="footer-top-part  container">
        <a href="" class="text-logo text-logo_with-right-line">Watch<i class="text-logo_r">R</i></a>
        <span class="copyright">© All rights reserved</span>
        <ul class="footer-menu standart-list">
          <li class="footer-menu_item"><a class="footer-menu-link" href="">Contacts</a></li>
          <li class="footer-menu_item"><a class="footer-menu-link" href="">About Us</a></li>
          <li class="footer-menu_item"><a class="footer-menu-link" href="">FAQ</a></li>
          <li class="footer-menu_item"><a class="footer-menu-link" href="">Privacy Policy</a></li>
        </ul>
      </div>
      <ul class="social-links-list container standart-list">
        <li class="social-links-list_item">
          <a class="social-link" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li class="social-links-list_item">
          <a class="social-link" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li class="social-links-list_item">
          <a class="social-link" href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
        </li>
        <li class="social-links-list_item">
          <a class="social-link" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </li>
      </ul>
    </footer>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/jquery.formstyler.min.js"></script>
    <script src="/js/lib/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
  </div>
