<style>
	.form-sign_in, .form-sign_up {
		width: 50%;
		margin: 10px auto;
	}

	.form-sign_in__input {
		width: 100%;
	}

</style>

<form class="form-sign_in"
action="/ruby/sign_in" method="post" >
	
	<input class="form-sign_in__input"
	ng-model="userin.email"
	type="email" name="email" placeholder="email"
	min="3" max="100" required="required" /> 
	<br />

	<input class="form-sign_in__input" 
	ng-model="userin.password"	
	type="text" name="password" placeholder="password" 
	min="3" max="100" required="required" />
	<br />

	<input class="form-sign_in__input" 
	ng-model="userin.password_confirmation"
	type="text" name="password_confirmation" 
	placeholder="password_confirmation" 
	min="3" max="100" required="required" />
	<br />

	<input 
	ng-click="formSubmit( userin, '/ruby/signin' )"
	type="button" value="Sign in" />

</form>



<form  class="form-sign_up"
action="/ruby/sign_up" method="post" >
	
	<input class="form-sign_in__input"
	ng-model="userup.email" 
	type="email" name="email" placeholder="email" 
	min="3" max="100" required="required" />
	<br />

	<input class="form-sign_in__input" 
	ng-model="userup.password"
	type="text" name="password" placeholder="password" 
	min="3"  max="100" required="required" />
	<br />

	<input 
 	ng-click="formSubmit( userup, '/ruby/signup' )"
	type="button" value="Sign up" />

</form>